# Logs
logs
*.log
*.zip
*.gba
engines/katago/model.bin.gz
engines/pikafish/pikafish.nnue
engines/stockfish/stockfish.exe
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
engines/
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vite
